<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container" id="codelab">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <input v-model.trim="text" type="text" class="form-control" placeholder="Enter the task">
                        <div class="input-group-append">
                            <button @click="addTask" class="btn btn-outline-secondary" type="button">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 v-if="showMessage" :class="{someclass: active}" class="text-center">Hello,i'm The Message</h4>
                    <h4 v-else class="text-center">The "showMessage" is False</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <li v-for="(task,index) in tasks"
                            class="list-group-item d-flex align-items-center justify-content-between">
                            <span>#{{index+1}} {{ task.text }} - {{ task.completed ? "Completed" : "Not Completed" }}</span>
                            <div class="btn-group btn-group-sm">
                                <button @click="task.completed = !task.completed" class="btn btn-outline-secondary"
                                        type="button">Toggle
                                </button>
                                <button @click="deleteTask(index)" class="btn btn-outline-secondary" type="button">
                                    Delete
                                </button>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vue = new Vue({
        el: "#codelab",
        data: {
            showMessage: false,
            active: false,
            text: "",
            tasks: [],
        },
        methods: {
            addTask: function () {

                if (this.text == "")
                    return;


                let newTask = {
                    text: this.text,
                    completed: false
                };

                this.tasks.push(newTask);
                this.text = "";
            },
            deleteTask(index) {
                this.tasks.splice(index, 1);
            }
        }
    })
</script>


</body>
</html>